@font-face {
  font-family: "BwAletaNo20-Regular";
  src: url("../fonts/BwAletaNo20-Regular.woff2") format("woff2"),
  url("../fonts/BwAletaNo20-Regular.woff") format("woff"),
  url("../fonts/BwAletaNo20-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "BwAletaNo20-Bold";
  src: url("../fonts/BwAletaNo20-Bold.woff2") format("woff2"),
  url("../fonts/BwAletaNo20-Bold.woff") format("woff"),
  url("../fonts/BwAletaNo20-Bold.ttf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "BwAletaNo20-Medium";
  src: url("../fonts/BwAletaNo20-Medium.woff2") format("woff2"),
  url("../fonts/BwAletaNo20-Medium.woff") format("woff"),
  url("../fonts/BwAletaNo20-Medium.ttf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

