*, 
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    @include font('aleta');
    color: $accent-dark;
    height: 100%;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

b {
    @include font('aleta-bold');
}

a {
    color: inherit;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

