.info {
  padding-top: 50px;

  &__inner {
    background: url('../images/info.png') bottom left no-repeat;
    padding-bottom: 160px;
  }

		&__title {
      @include font('aleta-medium');
      font-size: 21px;
    }
    
    &__btn {
      text-align: right;
    }
    
    &__right {
      padding-right: 100px;
    }

		&__form-title {
      @include font('aleta-medium');
      font-size: 24px;
		}

		&__form-input {
      @include font('aleta-medium');
      font-size: 15px;
      color: #8d8d8d;
      display: block;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #8d8d8d;
      padding-bottom: 20px;
      margin-bottom: 50px;

      &::placeholder {
        color: #8d8d8d;
      }
		}

    &__form-input-label {
      @include font('aleta-medium');
      font-size: 15px;
      padding-left: 15px;
      color: #8d8d8d;
    }
    
    &__vertical-title {
      position: absolute;
      right: -180px;
      top: 200px;
      @include font('aleta-medium');
      font-size: 80px;
      transform: rotate(90deg);
      z-index: 10;

      span {
        color: $accent-light;
      }
    }

    &__mobile-head {
      display: none;
      text-align: center;
    }
    
    &__mobile-title {
      @include font('aleta-medium');
      font-size: 27px;
      margin-bottom: 20px;

      span {
        color: $accent-light;
      }
    }

    &__mobile-text {
      font-size: 11px;
    }

}


.contacts {

  &__item {
    font-size: 15px;
    margin-bottom: 20px;
    padding-left: 25px;
  }

  &__title {
    position: relative;
    color: #8d8d8d;

    i {
      position: absolute;
      left: -25px;
      top: 5px;
      font-size: 14px;
    }
  }

  &__subtitle {
    line-height: 44px;
  }
}